<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
		"classpath:/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/newone?autoReconnect=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password">9999</property>
		<property name="connection.pool_size">5</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.jdbc.batch_size">1000</property>
		<property name="hibernate.jdbc.batch_versioned_data">true</property>
		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		
		
		<mapping resource="com/demo/dto/RegisterDTO.hbm.xml" />
		<mapping resource="com/demo/dto/RegisterProductsDTO.hbm.xml" />
				<mapping resource="com/demo/dto/PurchaseDTO.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>
